.page-header-img {
    object-fit: cover;
    height: 30vh;
    width: 100%;
    min-height: 360px;
    filter: blur(1.3px);
    filter: brightness(50%);
}
#faq-page {
    display: block;
}

.header-text {
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    font-family: "Rubik Regular";
}

.page-header {
    box-shadow: 0 5px 10px -5px rgba(53, 53, 53, 0.9);
}
.page-body {
    padding: 20px;
}
@media screen and (max-width: 500px) {
    .page-body {
        padding: 13px;
    }
}

.faq-card {
    margin-bottom: 40px;
    cursor: pointer;
    font-family: "Rubik Regular";
}
