.page-header#travel-page-header {
  background-image: url(../../images/berlin1.jpg);
  background-position: center center;
}

.page-header#travel-page-header .page-heading {
  top: 160px;
  width: 80%;
}

@media screen and (max-width: 800px) {
  .page-header#travel-page-header {
    background-position: center center;
    background-image: url(../../images/berlin2.jpg);
  }
  .page-header#travel-page-header .page-heading {
    top: 180px;
    width: 80%;
  }
}
