.page-header#travel-page-header {
  background-image: url(../../images/berlin1.jpg);
  background-position: center center;
}

.page-header#travel-page-header .page-heading {
  top: 160px;
  width: 80%;
}

@media screen and (max-width: 800px) {
  .page-header#travel-page-header {
    background-position: center center;
    background-image: url(../../images/berlin2.jpg);
  }
  .page-header#travel-page-header .page-heading {
    top: 180px;
    width: 80%;
  }
}

#restaurant-map {
  width: 80vw;
  height: 400px;
  margin: auto;
  border-radius: 15px !important;
  box-shadow: 5px 5px 10px rgb(43, 43, 43);
}

#restaurant-map .react-bingmaps .MicrosoftMap div {
  border-radius: 15px !important;
}

.attractions-map-container {
  width: 65%;
  height: 500px;
  display: block;
  position: relative;
  box-shadow: 5px 5px 10px rgb(43, 43, 43);
  border-radius: 15px;
}
.attractions-map-container .info-paragraph.attractions-map {
  border-radius: 15px;
  margin: 0px;
}
.mapbox-marker-inner {
  background-color: rgba(248, 248, 248, 0.945);
  padding: 4px;
  border-radius: 100vw;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.black-text {
  color: black;
}

@media screen and (max-width: 900px) {
  .attractions-map-container {
    width: 100vw;
  }
}

@media screen and (max-width: 400px) {
  .attractions-map-container {
    width: 80vw;
  }
  #restaurant-map {
    height: 600px;
    box-shadow: 0px 0px 2px rgb(43, 43, 43);
  }
}
